<script setup lang="ts">
import { ID, Task } from "@/types";

const emit = defineEmits<{
  (e: "delete", payload: ID): void;
}>();

const props = defineProps<{
  task: Task;
}>();

const focused = ref(false);

onKeyStroke("Backspace", (e: Event) => {
  if (focused.value) emit("delete", props.task.id);
});
</script>

<template>
  <div
    class="task bg-white p-2 mb-2 rounded shadow-sm max-w[250px] flex"
    :title="new Date(task.createdAt).toLocaleDateString()"
    @focus="focused = true"
    @blur="focused = false"
    tabindex="0"
  >
    <drag-handle class="pr-2" />
    <span> {{ task.title }}</span>
  </div>
</template>

<style>
.sortable-drag .task {
  transform: rotate(5deg);
}

.sortable-ghost .task {
  position: relative;
}
.sortable-ghost .task::after {
  content: "";
  @apply absolute top-0 bottom-0 left-0 right-0 bg-slate-300 rounded;
}

.task:focus,
.task:focus-visible {
  @apply outline-gray-400 !important;
  outline: rgb(128, 128, 128) auto 1px;
}
</style>
